@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
html, body {
  overflow: hidden;
  max-width: 100%;
  overflow-x: hidden;
}
.App {
  height: 100vh;
  width: 100vw;
}
#App {
  height: 100vh;
  width: 100vw;
  display: grid;
  background: repeat;
}
/* spaceship */
#ship {
  background-color: red;
  background-image: url('./images/Spaceship_all.png');
  width: 100px;
  height: 75px;
  position: relative;
  top: -300px;
  left: 100px;
  font-family: Monoton, cursive;


}
#ship-cont {
  width: 100vw;
  height:100vh;
}
/* game menu */
#game-menu-cont {
  display: flex;
  justify-content: center;
}
#game-menu {
  justify-self: center;
  align-self: center;
  width: 50vw;
  height: 50vw;
  background-color: blueviolet;
  text-align: center;
  display: grid;
}
/*enemy*/
.enemy {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}
/*gameboard*/
#game-board {
  width: 400px;
  height: 500px;
  place-self: center;
  justify-self: center stretch;
}
#game-board2 {
  width: 100%;
  height: 100%;
}
#game-board-border {
  background-color: rgb(0,0,0);
  display: block;
}
#game-board-border-title {
  font-family: Monoton, cursive;
  width: 100%;
  height: 10vh;
  color: rgb(182, 57, 57);
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 12vh;
}
#game-board-border-timer {
  font-family: Monoton, cursive;
  color: rgb(255, 228, 228);
  background-color: black;
  display: grid;
  font-size: 10vh;
  justify-content: center;
  align-content: center;
  height: 12vh;
}
/* button style*/

:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
          align-items: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--backgroundColor);
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  justify-self: center;
  align-self: cenetr;
}

button.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}
/* popup */
#popup {
  width: 25vw;
  height: 15vw;
  background-color: white;
  margin-top: -50vh;
  z-index: 0;
}
#code {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
}